@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	min-height: 100vh;
	width: 100%;
	background-image: url("../../public/landing_page_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	/* background-position: 50% 20%; */
	background-repeat: no-repeat;
	position: relative;
}

.marble {
	display: block;
	position: absolute;
	bottom: -625px;
	right: 250px;
	animation: rotate 20s linear infinite reverse, move 10s ease 0s 1;
}



@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes move {
	from {
		/* transform: translateX(100%); */
		right: -100px;
	}
	to {
		/* transform: translateX(25%); */
		right: 250px;
	}
}


.fade-in {
  opacity: 0;
  transform: translateY(100px); /* Optional: Add a slight vertical translation */
  transition: opacity 2s ease, transform 2s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
/* 768px */
@media not all and (min-width: 1000px) {
    .main {
        background-image: url("../../public/phone_bg_landing.png");
    }
	.marble {
		display: block;
		width: 250px;
		height: 250px;
		position: absolute;
		bottom: 30vh;
		left: 20vw;
		animation: rotate 20s linear infinite reverse, moveUp 10s ease 0s 1;
	}
	@keyframes moveUp {
		from {
			bottom: -20vh;
		} 
		to {
			bottom: 30vh;
		}
	}
}
@media not all and (min-width: 400px) {
    .main {
        background-image: url("../../public/phone_bg_landing.png");
    }
	.marble {
		display: block;
		width: 250px;
		height: 250px;
		position: absolute;
		bottom: 30vh;
		left: 18vw;
		animation: rotate 20s linear infinite reverse, moveUp 10s ease 0s 1;
	}
	@keyframes moveUp {
		from {
			bottom: -20vh;
		} 
		to {
			bottom: 30vh;
		}
	}
}