@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
	min-height: 100vh;
	overflow: auto;
	background-image: url("../../../public/dashboard_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 20%;
	background-repeat: no-repeat;
	position: relative;
}

#website {
	width: 100% !important;
	text-align: center !important;
}

/* 768px */
/* @media not all and (min-width: 1000px) {
} */